.example-full-width, .example-form {
    width: 100%;
}

main {
    width: 90%;
    margin: 1rem auto ;
}

.edwin-header {
    font-weight: bold;  
    font-size: 150%;
}

mat-card {
    background-color: cornsilk;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }