<app-header [deviceLg]="deviceLg" [deviceXs]="deviceXs" [deviceSm]="deviceSm" [deviceMd]="deviceMd"></app-header>
<div>
    <main>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Contact</mat-card-title>
            </mat-card-header>
            <mat-card-content> 
                <mat-card-subtitle class="edwin-subtitile">Name     : Edwin Aulia Nugraha</mat-card-subtitle>
                <mat-card-subtitle class="edwin-subtitile">Phone    : 089-693-517-968</mat-card-subtitle>
                <mat-card-subtitle class="edwin-subtitile deviceXs">Linkedin : <a href="https://www.linkedin.com/Edwin-Auliano" target="blank">https://www.linkedin.com/Edwin-Auliano</a></mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </main>
</div>